
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Gwendolyn", cursive; */
}





@keyframes borderAnimation {
    0% {
      border-color: #ff6b6b;
    }
    25% {
      border-color: #f06595;
    }
    50% {
      border-color: #cc5de8;
    }
    75% {
      border-color: #845ef7;
    }
    100% {
      border-color: #5c7cfa;
    }
  }
  
  @keyframes pointAnimation {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: 100%;
    }
    50% {
      top: 100%;
      left: 100%;
    }
    75% {
      top: 100%;
      left: 0;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
  
  .animated-border {
    border-width: 10px;
    border-style: solid;
    border-radius: 0.5rem;
    animation: borderAnimation 20s infinite;
    position: relative;
  }
  
  .animated-border::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6b6b;
    border-radius: 50%;
    animation: pointAnimation 20s linear infinite;
  }
  